.alisa__request {
    padding-bottom: 32px;
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 125%;
    list-style: none;
    white-space: pre-wrap;
    color: #FFFFFF;
}

.alisa__request:first-of-type {
    opacity: 0.9;
}

.alisa__request:nth-of-type(2) {
    opacity: 0.7;
}

.alisa__request:nth-of-type(3) {
    opacity: 0.6;
}

.alisa__request:nth-of-type(4) {
    opacity: 0.4;
    padding-bottom: 0;
}

@media screen and (max-width: 1280px) {
    .alisa__request {
        font-size: 28px;
    }
}

@media screen and (max-width: 900px) {
    .alisa__request {
        font-size: 22px;
    }
}

@media screen and (max-width: 650px) {
    .alisa__request {
        font-size: 18px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 450px) {
    .alisa__request {
        font-size: 16px;
        padding-bottom: 18px;
    }
}