.header__logo {
  background-image: url("../../../images/YAStation_logo.png");
  min-height: 32px;
  min-width: 135px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1280px) {
  .header__logo {
    min-width: 120px;
  }
}
