.header__logo {
  background-image: url("../../../images/YAStation_logo.png");
  min-height: 32px;
  min-width: 135px;
  background-repeat: no-repeat;
  object-fit: cover;
}

@media screen and (max-width: 425px) {
  .header__logo {

  }
}
