.smart-home__devices-image {
    display: flex;
    position: absolute;
    width: auto;
    min-height: 481px;
    top: 13px;
    left: -45px;
    object-fit: cover;
    z-index: 2;
}


@media screen and (max-width: 1420px) {
    .smart-home__devices-image {
        max-width: 34vw;
        height: auto;
        left: 0;
    }
}

@media screen and (max-width: 1420px) {
    .smart-home__devices-image {
        min-height: 400px;
        object-position: -4vw;
    }
}

@media screen and (max-width: 1000px) {
    .smart-home__devices-image {
        min-height: 350px;
        width: calc(100% + 2vw);
    }
}

@media screen and (max-width: 900px) {
    .smart-home__devices-image {
        min-height: 280px;
        object-position: -5vw;
    }
}

@media screen and (max-width: 800px) {
    .smart-home__devices-image {
        max-width: 100%;
        min-height: 400px;
        object-position: right;
        left: 5vw;
        top: auto;
    }
}

@media screen and (max-width: 600px) {
    .smart-home__devices-image {
        min-height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .smart-home__devices-image {
        left: 4vw;
    }
}