.smart-home__devices-button {
    margin: 0;
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;

    margin-top: 20px;
    width: 144px;
    height: 43px;
    border: 1.5px solid #000000;
    border-radius: 46px;
    transition: .2s ease-in-out;
}

.smart-home__devices-button:hover {
    cursor: pointer;

    color: #FFF;
    background: #000000;
}