.smart-home__devices-title {
    margin: 0;
    font-family: 'YS Text';
    font-style: normal;
    text-align: left;
    font-weight: 300;
    font-size: 32px;
    line-height: 114%;
    color: #000000;
    max-width: 285px;
}

@media screen and (max-width: 1280px) {
    .smart-home__devices-title {
        font-size: 28px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 900px) {
    .smart-home__devices-title {
        font-size: 25px;
        max-width: 170px;
    }
}

@media screen and (max-width: 650px) {
    .smart-home__devices-title {
        font-size: 23px;
    }
}

@media screen and (max-width: 450px) {
    .smart-home__devices-title {
        font-size: 20px;
        max-width: 140px;
    }
}