.smart-home__info-paragraph {
    margin: 0;
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    opacity: 0.7;
    white-space: pre-wrap;
}

@media screen and (max-width: 1280px) {
    .smart-home__info-paragraph {
        font-size: 15px;
    }
}

@media screen and (max-width: 900px) {
    .smart-home__info-paragraph {
        font-size: 13px;
    }
}

@media screen and (max-width: 650px) {
    .smart-home__info-paragraph {
        font-size: 11px;
    }
}