.smart-home__devices {
    border-radius: 40px;
    display: grid;
    grid-template: 228px / repeat(3, 1fr);
    margin: 32px auto -37px;
    max-width: 1180px;
    background-color: #EBEDF2;
    place-items: center;
}

@media screen and (max-width: 1280px) {
    .smart-home__devices {
        max-width: calc(100% - 80px);
        grid-template-rows: 180px;
    }
}

@media screen and (max-width: 900px) {
    .smart-home__devices {
        grid-template-rows: 140px;
    }
}

@media screen and (max-width: 800px) {
    .smart-home__devices {
        grid-template: repeat(2, 150px) / repeat(2, 1fr);
    }
}

@media screen and (max-width: 450px) {
    .smart-home__devices {
        grid-template: repeat(2, 120px) / repeat(2, 1fr);
    }
}