.sound__feature-info {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    margin: 64px;
    white-space: pre-wrap;
}

@media screen and (max-width: 1280px) {
    .sound__feature-info {
        margin: 45px;
    }
}

@media screen and (max-width: 900px) {
    .sound__feature-info {
        margin: 64px;
    }
}