.sound__feature {
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 703px;
    max-width: 375px;
    position: relative;
    color: white;
    align-items: center;
}

@media screen and (max-width: 1280px) {
    .sound__feature {
        min-height: 525px;
    }
}

@media screen and (max-width: 900px) {
    .sound__feature {
        max-width: 375px;
    }
}