.footer__text {
    margin: 0;
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #121212;
    opacity: 0.4;
    white-space: pre-wrap;
}

@media screen and (max-width: 900px) {
    .footer__text {
        font-size: 13px;
    }
}

@media screen and (max-width: 650px) {
    .footer__text {
        font-size: 11px;
    }
}

@media screen and (max-width: 450px) {
    .footer__text {
        font-size: 8px;
    }
}