.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 425px;
}

@media screen and (max-width: 900px) {
    .footer {
        max-width: 99%;
        min-height: auto;
        padding: 40px 0 30px;
    }
}

