.alisa__whisper {
    margin: 80px 90px 107px 0;
    max-width: 241px;
    display: flex;
    position: relative;
    color: white;
    flex-direction: column;
    align-self: flex-end;
}

@media screen and (max-width: 1280px) {
    .alisa__whisper {
        margin-right: 42px;
    }
}


@media screen and (max-width: 650px) {
    .alisa__whisper {
        margin-right: 56px;
    }
}

@media screen and (max-width: 450px) {
    .alisa__whisper {
        margin-right: 35px;
    }
}