.lead__title {
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 300;
    font-size: 90px;
    line-height: 108%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #121212;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1280px) {
    .lead__title {
        font-size: 75px;
    }
}

@media screen and (max-width: 900px) {
    .lead__title {
        font-size: 60px;
    }
}

@media screen and (max-width: 650px) {
    .lead__title {
        font-size: 40px;
        font-weight: 400;
    }
}

@media screen and (max-width: 450px) {
    .lead__title {
        font-size: 35px;
    }
}