.smart-home__feature-title_type_first {
    padding-bottom: 16px;
    font-weight: 300;
    font-size: 32px;
    line-height: 114%;
    max-width: 250px;
}

@media screen and (max-width: 1280px) {
    .smart-home__feature-title_type_first {
        font-size: 30px;
    }
}

@media screen and (max-width: 900px) {
    .smart-home__feature-title_type_first {
        font-size: 26px;
    }
}

@media screen and (max-width: 1280px) {
    .smart-home__feature-title_type_first {
        font-size: 23px;
    }
}