.smart-home__info-title {
    margin: 0;
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    white-space: pre-wrap;
    padding-bottom: 24px;
    max-width: 200px;
}

@media screen and (max-width: 1280px) {
    .smart-home__info-title {
        font-size: 22px;
        max-width: min-content;
        padding-bottom: 22px;
    }
}

@media screen and (max-width: 900px) {
    .smart-home__info-title {
        font-size: 19px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 650px) {
    .smart-home__info-title {
        font-size: 15px;
        padding-bottom: 17px;
    }
}