.smart-home__feature-button {
    font-family: 'YS Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FBFBFD;

    margin-top: 80px;
    width: 144px;
    height: 43px;
    border: none;
    background: #6337FF;
    border-radius: 46px;
    transition: .2s ease-in-out;
}

.smart-home__feature-button:hover {
    cursor: pointer;
    background-color: #4126a3;
}

.smart-home__feature-button:active {
    scale: 95%;
    filter: brightness(80%);
    transition: .1s ease-out;
}

@media screen and (max-width: 1280px) {
    .smart-home__feature-button {
        font-size: 16px;
        margin-top: 70px;
        width: 130px;
        height: 38px;
    }
}

@media screen and (max-width: 900px) {
    .smart-home__feature-button {
        font-size: 14px;
        width: 110px;
        height: 32px;
    }
}

@media screen and (max-width: 650px) {
    .smart-home__feature-button {
        font-size: 12px;
        margin-top: 60px;
        width: 110px;
        height: 32px;
    }
}