.sound__info {
    max-width: 220px;
}

@media screen and (max-width: 900px) {
    .sound__info {
        max-width: 190px;
    }
}

@media screen and (max-width: 650px) {
    .sound__info {
        max-width: 160px;
        color: white;
        margin: auto;
    }
}