.header__menu {
    display: flex;
    margin-right: 0;
    align-items: center;
  }
  
  @media screen and (max-width: 915px) {
    .header__menu {
      padding-right: 27px;
    }
  }
  
  @media screen and (max-width: 660px) {
    .header__menu {
      flex-direction: column;
      font-size: 14px;
    }
  }