.smart-home__info {
    height: 1340px;
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
}

@media screen and (max-width: 1280px) {
    .smart-home__info {
        max-width: 100vw;
        height: auto;
        background-position: bottom;
        background-size: cover;
    }
}