.smart-home__info-container {
    display: flex;
    margin: 0 auto;
    padding-top: 400px;
    justify-content: space-between;
    max-width: 1065px;
}

@media screen and (max-width: 1280px) {
    .smart-home__info-container {
        padding: 35vw 0 10vw;
        max-width: 90vw;
    }
}

@media screen and (max-width: 900px) {
    .smart-home__info-container {
        padding: 40vw 0 10vw;
    }
}

@media screen and (max-width: 650px) {
    .smart-home__info-container {
        padding: 50vw 0 15vw;
    }
}
