.sound__info-title {
    margin: 0;
    font-family: 'YS Text';
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .sound__info-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .sound__info-title {
        font-size: 14px;
    }
}