.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0 130px;
  display: flex;
  flex-direction: row;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

@media screen and (max-width: 1280px) {
  .header {
    min-height: 65px;
    padding: 0 70px;
  }
}

@media screen and (max-width: 980px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 680px) {
  .header {
    justify-content: space-around;
  }
}