.header {
  margin: 0;
  padding-top: 45px;
  display: flex;
  flex-direction: row;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 40px;
  justify-content: space-between;
}

@media screen and (max-width: 915px) {
  .header {
    padding-left: 27px;
  }
}

@media screen and (max-width: 660px) {
  .header {
    padding-top: 28px;
    padding-bottom: 30px;
  }
}
